.first{
  margin-top: 5px;
}
.thumbnail{
  margin: 0px;
}
.jumbotron6{
  color: #1D3557;
display: none;
}
.jumbotron5{
  color: #1D3557;
display: none;
}
.jumbotron4{
  color: #A8DADC;
display: none;
}
.jumbotron3{
color: #E63946;
display: none;
}
.jumbotron2{
color: #F1FAEE;
display: none;
}
.jumbotron2 a{
  color: #A8DADC;
}
.jumbotron1{
  background-color: #F1FAEE;
display: none;
  color: #1D3557;
}
