.school{
  margin-left: 95px;
}
.education{
  margin-left: 30px;
  font-family: 'Amatic SC', cursive;
}
.dps{
  margin-left: 8%;
  font-family: 'Comfortaa', cursive;
}
.saint{
  font-family: 'Comfortaa', cursive;
}
.thapar{
  font-family: 'Comfortaa', cursive;
  margin-left: 15%;
}
.skills{
  margin-left: 30px;
  font-family: 'Comfortaa', cursive;
}
.progress{
  margin-left: 30px;
  width: 300px;
}

.html{
  margin-left: 32.5px;
}
